body {
  margin: 0;
  padding: 0;
}

.menu_container {
  position: absolute;
  top: 0;
  width: 350px;
  left: calc(50% - 175px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #EEEEEE;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}